type = "Service"
name = "vsftpd service"
category = "X-Alterator-Servers"
display_name.en = "vsftpd FTP service"
display_name.ru = "Сервис vsftpd FTP"
comment.en = "Secure and fast FTP server"
comment.ru = "Безопасный и быстрый FTP-сервер"
no_default_diag = true
enable_force_deploy = true

[parameters.anonymous_enable]
display_name.en = "Allow anonymous access"
display_name.ru = "Разрешить анонимный доступ"
comment.en = "Enable/disable anonymous FTP login"
comment.ru = "Разрешить или запретить анонимный вход"
type = "boolean"
default = false
context = ["deploy","status", "configure"]
requires = ["deploy", "configure"]

[parameters.local_enable]
display_name.en = "Allow local users"
display_name.ru = "Разрешить локальных пользователей"
comment.en = "Allow local users to log in"
comment.ru = "Разрешить вход локальным пользователям"
type = "boolean"
default = true
context = ["deploy", "status", "configure"]
requires = ["deploy", "configure"]

[parameters.write_enable]
display_name.en = "Enable write"
display_name.ru = "Разрешить запись"
comment.en = "Allow file uploads and changes"
comment.ru = "Разрешить загрузку и изменение файлов"
type = "boolean"
default = true
context = ["deploy","status", "configure"]
requires = ["deploy", "configure"]

[parameters.listen_port]
display_name.en = "Listen port"
display_name.ru = "Слушай порт"
comment.en = "Specifies the port on which vsftpd listens for connections."
comment.ru = "Определяет порт, на котором vsftpd прослушивает подключения"
type = "integer"
default = 21
context = ["deploy", "configure"]
requires = ["deploy", "configure"]

[parameters.pasv_min_port]
display_name.en = "Passive mode min port"
display_name.ru = "Минимальный порт пассивного режима"
type = "integer"
default = 40000
context = ["deploy", "configure"]
requires = ["deploy", "configure"]

[parameters.pasv_max_port]
display_name.en = "Passive mode max port"
display_name.ru = "Максимальный порт пассивного режима"
type = "integer"
default = 50000
context = ["deploy", "configure"]
requires = ["deploy", "configure"]

[parameters.chroot_local_user]
display_name.en = "Chroot local users"
display_name.ru = "Ограничить пользователей их домашними каталогами"
comment.en = "Restrict local users to their home directories"
comment.ru = "Ограничить локальных пользователей их домашними директориями"
type = "boolean"
default = true
context = ["deploy", "configure"]
requires = ["deploy", "configure"]

[parameters.allow_writeable_chroot]
display_name.en = "Allow write in chroot"
display_name.ru = "Разрешить запись в chroot"
comment.en = "Allow writing files in chrooted environment"
comment.ru = "Разрешить запись файлов в ограниченной chroot среде"
type = "boolean"
default = true
context = ["deploy", "configure"]
requires = ["deploy", "configure"]

[parameters.userlist_enable]
display_name.en = "Enable userlist"
display_name.ru = "Включить список пользователей"
comment.en = "Enable userlist to control access"
comment.ru = "Включить список пользователей для контроля доступа"
type = "boolean"
default = false
context = ["deploy", "configure"]
requires = ["deploy", "configure"]

[parameters.userlist_deny]
display_name.en = "Userlist deny mode"
display_name.ru = "Режим запрета списка пользователей"
comment.en = "If YES, userlist is a deny list. If NO, it's an allow list"
comment.ru = "Если YES, список - запрещающий. Если NO - разрешающий"
type = "boolean"
default = true
context = ["deploy", "configure"]
requires = ["deploy", "configure"]

[parameters.ssl_enable]
display_name.en = "Enable SSL/TLS"
display_name.ru = "Включить SSL/TLS"
comment.en = "Enable secure connections via SSL/TLS"
comment.ru = "Включить защищённые соединения через SSL/TLS"
type = "boolean"
default = false
context = ["deploy", "configure"]
requires = ["deploy", "configure"]

[parameters.backup_name]
display_name.ru = "Имя файла бэкапа"
display_name.en = "Backup filename"
comment.ru = "Оставьте пустым для автоматического имени"
comment.en = "Leave empty to use autogenerated filename"
type = "string"
context = ["restore"]

[resources.vsftpd_conf]
display_name.en = "Vsftpd Configuration File"
display_name.ru = "Конфигурационный файл Vsftpd"
comment.en = "Path to Vsftpd conf file"
comment.ru = "Путь к конфигурационному файлу Vsftpd conf"
type = "file"
path.value = "/etc/vsftpd/conf"

[resources.backups]
display_name.en = "Vsftpd backups"
display_name.ru = "Бэкапы Vsftpd"
comment.en = "Path to Vsftpd backups"
comment.ru = "Путь к бэкапам Vsftpd"
type = "file"
path.value = "/etc/vsftpd/backups"

[resources.vsftpd_service]
display_name.en = "Vsftpd service"
display_name.ru = "Сервис Vsftpd"
comment.en = "Systemd service for Vsftpd server"
comment.ru = "Служба Vsftpd в systemd"
type = "systemd_unit"
unit_name.value = "smb.vsftpd"

